@model NeverEmptyPantry.WebUi.Models.ListViewModel

@if (ViewBag.Errors != null)
{
    foreach (var error in ViewBag.Errors)
    {
        <span class="text-danger">@error</span>
    }
}
<h4>Details.</h4>
<hr />
<div id="myListDetails">
    <partial name="_ListDetailsPartial" model="@Model" />
</div>

<div id="myListProductsList">
    @if (Model.ListProducts != null && Model.ListProducts.Any())
    {
        await Html.RenderPartialAsync("_ListProductsList", Model);
    }
</div>


@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
<a asp-action="Index">Back to List</a>

@section Scripts
    {
    <script type="text/javascript">
        function getPartialView(url) {
            $.ajax({
                type: 'get',
                url: url,
                success: function(data) {
                    $('#myVoteModal').html(data);

                    $('#myVoteModal').modal();

                    $('#myVoteModal').on('hidden.bs.modal',
                        () => {
                            reloadListProducts();
                        });
                }
            });
        }

        function reloadListProducts() {
                $('#myListProductsList').html('<span><i class="fas fa-spinner fa-spin" style="font-size: 64px; left: 50%;"></i></span>');
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("ListProductsPartial", "List", new { id = Model.Id })',
                    success: function (data) {
                        if (data) {
                            $('#myListProductsList').html(data);
                        } else {
                            toastr.error('Could not reload products');
                        }
                    }
                });
        }

        function callAjax(url) {
            $('#myVoteModalBody').html('<span><i class="fas fa-spinner fa-spin" style="font-size: 64px; left: 50%;"></i></span>');
            $.ajax({
                type: 'get',
                url: url,
                success: function(data) {
                    if (!data.succeeded) {
                        toastr.error('There was an error increasing the criticality.');
                    } else {
                        toastr.success('Vote updated successfully!');
                    }
                    $('#myVoteModal').modal('hide');
                }
            });
        }
    </script>
}
